.container{
  height: 40px;
  width: 500px;
  margin: auto;
  margin-top: 250px;
  }
.logo{
  width:100px;
  height: 40px;
  float: left;
}
.center{
margin-left: 100px;
width: 400px;
height: 40px;
background: #FFD700;
}
.search_button {
background: #FFD700;
background-image: url(search.png) ;
background-repeat: no-repeat;
background-size: 30%;
text-align: left;
background-position: right;
width: 72px;
height: 30px;
}
.search_text {
  margin-left: 2px;
  height: 30px;
  width: 313px;
  font-size: 18px;
  margin-top: 2px;
}
