{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static "firstapp/style.css" %}" >
    <title></title>
  </head>
  <body>
    <div class="container">
    <img  class="logo" src="{% static "firstapp/logo.png" %}" alt="logo" />
     <form  class="center" action="/search/" method="get">
      <input class="search_text" type="text" name="q" >
      <input class="search_button" type="submit"  value="Search">
    </form>
    </div>
  </body>
</html>
